<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    {%load static %}
    <link href="{% static 'testapp/fontaw/css/all.css' %" rel="stylesheet">
    <link href="{% static 'testapp/bootstrap/css/bootstrap.min.css' %" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'testapp/css/style.css' %}">

    <title>مشاهده محصول</title>
</head>
<body>
    <!-- <h1>{{ number }}</h1>
    <h2>{{name}}</h1> -->
    <!-- <h1>{{post.title}}</h1>
    <p>
        {{post.content}}
        {{post.date}}
    </p> -->
    
    <h1>{{blog.title}}</h1>
    <p>
        {{blog.content}}
        {{blog.date}}
        
    </p>

    <img src="{{blog.image.url}}" alt="">


    
</body>
</html>